#logo{
  padding-left: 42%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

#imam {
  width: 150px;
  margin-top: 40px;

}

#name, h5 , footer {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section {
  padding: 20px 0;
}

.parallax {
  height: auto;
}

footer {
  padding-bottom: 20px;
}
